*, ::before, ::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  color: #000;
  background-color: rgb(252, 248, 248);
}

a{
  color: #000;
  text-decoration: none;
}

ul, li{
  list-style: none;
}

.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px 15px;
}


.wrapper-content{
  grid-column: span 8;
  background-color: #FBE7C6;
}

